<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.sec.mapper.MDDao"> <!-- mapper namespace에 DAO 클래스 위치지정 -->
	<!-- Mapper에서 만드는 DTO. DTO를 가져오기 힘들던 시절 3버전 이하에서 쓰던 방식 -->
	<!-- column은 map의 value가 되고 property는 key가 된다 -->
	
	<!-- 
	master table의 리스트를 추출하고
	master table의 각레코드의 m_seq 칼럼의 값을
	select id=detail에게 보내서
	tbl_detail 로부터 값을 추출한다
	MDVO : MasterDetailVO.class
	id(masterDetail) : selecAll이 결과를 추출하여 보낼 
		가상의 method
			
	 -->
	<resultMap type="mdVO" id="masterDetail">
		<!-- 
		tbl_master의 PK를 지정
		column : tbl_master 테이블의 칼럼명
		property : MDVO의 필드변수명
		result로 설정할 수도 있지만, PK인 경우는 id로 설정을 한다.	 
		-->
		<id column="m_seq" property="m_seq"/><!-- id는 primary key로 지정된 컬럼만 -->
		
		<!-- 
		그외 MasterDetailVO에 설정된 필드변수들을
		result 항목에 설정
		column : tbl_master의 테이블 칼럼명
		property : VO 클래스의 필드변수
		 -->
		<result column="m_subject" property="m_subject"/>
		
		<!-- 
		collection
		tbl_master 테이블과 연관하여 별도로 가저올
		detail(sub) table의 정보를 담을 리스트 필드변수 설정
		property : List<VO> 변수명 으로 설정된 변수명을 명시
		column : selectAll 결과가 가져온 칼럼명
		ofType : List에 포함할 VO 클래스의 alias(제네릭)
		select : detail table을 조회할 select 구문의 id값
		 -->
		<collection property="deList" column="m_seq" ofType="DetailDTO"
		 select="detail"><!-- detail에서 데이터를 읽어오는데 m_seq를 전달인자로 보내서 결과를 deList에 채워서 가져온다 -->
		</collection>
	</resultMap>
	
	<!--  tbl_master의 레코드들을 모두 추출하여 List<MasterDTO>로 -->
	<select id="selectAll" resultMap="masterDetail"> <!-- id에 dao에 있는 메소드들 이름 -->
		<!-- 내용에, 들어갈 SQL Query문 -->
		SELECT * FROM tbl_master
	</select>
	
	
	<!-- 
 	m_seq값을 변수로 받아서 d_m_seq = m_seg 조건의 리스트만 추출하여 List<DetailDTO>에 담아라
 	 -->
	<select id="detail" resultType="DetailDTO">
	SELECT d_seq, d_m_seq, d_subject, d_ok FROM tbl_detail
	WHERE d_m_seq = #{d_seq}
	</select>
	<select id="findById">
	</select>

	<insert id="insertMaster" parameterType="masterDTO">
	<!-- insert order 타이밍에 SELECT문에 있는 결과를 keyProperty 변수명(parameterType에
	있는 변수에 담고 그걸 INSERT에 #{m_seq} 날려라
	반드시 한개의 컬럼만이 나와야한다 -->
		<selectKey keyProperty="m_seq" order="BEFORE" resultType="Long">
			SELECT SEQ_MASTER.NEXTVAL AS m_seq FROM DUAL
		</selectKey>
	INSERT INTO tbl_master(
		M_SEQ,
		M_SUBJECT
	)
	VALUES(
		#{m_seq},
		#{m_subject}
	)
	
	</insert>

	<update id="update">
	</update>

	<delete id="delete">
	</delete>
</mapper>
